[submodule "fprime"]
	path = fprime
	url = https://github.com/nasa/fprime.git
	branch = devel
[submodule "fprime-zephyr"]
	path = fprime-zephyr
	url = https://github.com/reggiemarr/fprime-zephyr.git
[submodule "deps/zephyr"]
	path = deps/zephyr
	url = https://github.com/zephyrproject-rtos/zephyr
